body{
   font-family: "Montserrat";
   background-color: white;


}


#title{
  background-color: #ff4c68;
  color: white;
  text-align: left;

}

 h1{
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
  }

  h3{
    font-family: "Montserrat-Bold";
    font-weight: bold;
  }

  .s{
    font-size: 3.5rem;
    font-family: "Montserrat-Black";
    text-align: center;
  }


.container-fluid{
  padding:3% 15% 7%;

}

.navbar{
 padding: 0 0 4.5rem;

}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image
{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
    left: 0;
    top: 0;
    right: 40%;


}

#features
{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.a{
  font:"Montserrat";
  text-align:center;
  padding:5%;
}

p{
  color:#8f8f8f;
  }

.x{
  color: #ff4c68;
  margin-bottom: 1rem;

}
.x:hover
{
  color: #ff4c68;
}

#testimonials
{

  text-align: center;
  background-color: #ff4c68;
  color: #fff;

}
.y{
  width: 15%;
  border-radius: 100%;
  margin: 20px;

}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3rem;
}
.logos{
  width: 15%;
  margin: 20px
}



.carousel-item{
  padding: 7% 15%;

}
#pricing
{
  text-align: center;
  padding-left: 0;
  padding-right: 0;

}


#footer{
  padding:7% 15%;
  text-align:center;
}
.e{
  padding-top: 5%;
  padding-bottom: 0;
}

#cta{
  text-align: center;
  padding:7% 15%;
  background-color: #ff4c68;
  color:white;

}

@media (max-width:1030px)
{
  #title-image{
  text-align: center;
}
  .title-image{
  position: static;
  transform: rotate(0);
}
}
